.login {
  height: 100vh;
  background: #bbe4e9;
  display: flex;
  align-items: center;
  justify-content: center;
  .card {
    display: flex;
    width: 50%;
    background-color: #fff;
    border-radius: 10px;
    min-height: 600px;
    overflow: hidden;
    .left {
      flex: 1;
      background: linear-gradient(-20deg, #2b5876c6 0%, #4e4376e0 100%),
        url("https://images.pexels.com/photos/1269026/pexels-photo-1269026.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
          center;
      background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: #fff;
      h1 {
        font-size: 86px;
        line-height: 100px;
      }

      span {
        font-size: 14px;
      }
      button {
        width: 50%;
        padding: 10px;
        border: none;
        background-color: #fff;
        color: #22313f;
        font-weight: bold;
        cursor: pointer;
      }
    }
    .right {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;
      h1 {
        color: #34495e;
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 50px;
        input {
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 20px 10px;
        }
        button {
          width: 50%;
          padding: 10px;
          border: none;
          background-color: #53a8b6;
          color: #fff;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }
}
